{% extends "parent_layout.html" %}
{% set active_page = "tsp" %}
{% block content %}

<div class="container-fluid text-center" style="height:80%;">

    <br>

    <div class="row h-100">
        <div class="col-4 h-100">

            <div class="row d-flex justify-content-center">
                <button type="button" class="btn btn-outline-primary" onclick="clearMarkers()">Clear Markers</button>
                <button type="button" class="btn btn-outline-primary" onclick="computePath()">Compute Path</button>
            </div>

            <br>

            <div id="marker-list">
                <p><strong>Markers</strong>:</p>
            </div>

        </div>
        <div class="col-8 h-100">

            <div class="h-100 border" id="google-map"></div>
            <script>
                var scriptTag = document.createElement("script");
                scriptTag.src = "https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap&v=weekly"
                scriptTag.async = true;
                document.head.appendChild(scriptTag);
            </script>

        </div>
    </div>

    <br>

    <div class="row">
        <div class="text-center col-12" id="path-list">Optimal path: 0</div>
    </div>
</div>

{% endblock %}
