{% extends "parent_layout.html" %}
{% set active_page = "tsp" %}
{% block content %}

<div class="container-fluid text-center" style="height:80%;">

    <br>

    <div class="row h-100">
        <div class="col-sm-4" style="height: auto;">
            <div class="row justify-content-center">
                <div class="btn-toolbar" style="display: inline">
                    <button type="button" class="btn-toggle-text btn btn-outline-primary mb-3" title="Toggle marker visibility" data-toggle="collapse" data-target="#markerCollapse" aria-expanded="false" aria-controls="markerCollapse"><span>Show Markers</span><div>Hide Markers</div></button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-primary mb-3" title="Clear all existing markers" onclick="clearMarkers()">Clear Markers</button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-primary mb-3" title="Compute the optimal path" onclick="computePath()"><a id="compute_a" href="#google-map">Compute Path</a></button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-primary mb-3" title="Import markers from a file" onclick="importMarkers()">Import Markers</button>
                    &nbsp;
                    <input type="file" id="file-input" style="display: none">
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn" title="Help" data-toggle="modal" data-target="#helpModal">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8zm9 3a1 1 0 11-2 0 1 1 0 012 0zM6.92 6.085c.081-.16.19-.299.34-.398.145-.097.371-.187.74-.187.28 0 .553.087.738.225A.613.613 0 019 6.25c0 .177-.04.264-.077.318a.956.956 0 01-.277.245c-.076.051-.158.1-.258.161l-.007.004a7.728 7.728 0 00-.313.195 2.416 2.416 0 00-.692.661.75.75 0 001.248.832.956.956 0 01.276-.245 6.3 6.3 0 01.26-.16l.006-.004c.093-.057.204-.123.313-.195.222-.149.487-.355.692-.662.214-.32.329-.702.329-1.15 0-.76-.36-1.348-.863-1.725A2.76 2.76 0 008 4c-.631 0-1.155.16-1.572.438-.413.276-.68.638-.849.977a.75.75 0 101.342.67z"></path></svg>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Help</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5>How to use the Route Finder</h5>
                                    <p>...<p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="collapse show" id="markerCollapse"><div class="list-group" id="marker-list"></div></div>
            </div>
            <br>
            <div class="row">
                <div class="text-center col-12">Your route: <span id="path-list">Please press "Compute Path" when ready.</span></div>
            </div>
            <br>
        </div>

        <div class="col h-100">
            <div class="input-group mb-3">
                <input type="text" id="txf-search-location" class="form-control" placeholder="Search location" aria-label="Search location" aria-describedby="btn-search-location">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn-search-location" onclick="searchLocation()">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M14.53 15.59a8.25 8.25 0 111.06-1.06l5.69 5.69a.75.75 0 11-1.06 1.06l-5.69-5.69zM2.5 9.25a6.75 6.75 0 1111.74 4.547.746.746 0 00-.443.442A6.75 6.75 0 012.5 9.25z"></path></svg>
                    </button>
                </div>
            </div>

            <div class="h-100 border" id="google-map"></div>
            <div id="warnings-panel" hidden></div>
            <script>
                var scriptTag = document.createElement("script");
                scriptTag.src = "https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap&v=weekly"
                window.__nope_apiKey = "{{ API_KEY }}";
                scriptTag.async = true;
                document.head.appendChild(scriptTag);
            </script>
        </div>
    </div>
</div>

{% endblock %}
